<footer class="footer">
  <div class="phone-container">
    <h3>knowing you're always on the best energy deal.</h3>
    <label class="modal-label" for="user-phone"></label>
    <div class="input-wrapper">
      <input
        class="modal-input"
        id="user-phone"
        name="user-phone"
        type="text"
        placeholder="Enter your phone number"
      />
      <svg class="input-icon" width="18" height="28">
        <use href="./img/icons.svg#icon-mobile"></use>
      </svg>
    </div>
    <button class="footer-button" type="submit">Sign up Now</button>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team
      </a>
    </p>
  </div>
</footer> -->
